/* @import "tailwindcss"; */
@import "tailwindcss/theme.css";
@import "tailwindcss/utilities.css";
/* @import "@charcoal-ui/react/dist/index.css"; */
@config "@charcoal-ui/tailwind-config";

@config "../../tailwind.config.ts";

body {
  background: var(--charcoal-surface1);
  color: var(--charcoal-text1);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}
